body {
    font-family: 'Lora', serif;
}

#play-button {
    background: #c9ccb8;
    padding-right: 26px;
    border-radius: 3px;
    border: none;
    color: black;
    margin: 0;
    padding: 0 12px;
    width: 60px;
    cursor: pointer;
    height: 30px;
    margin-left:12px;
  }

  #play-button:hover {
    background-color: #696969;
  }    
  
  .ticks {
    font-size: 10px;
  }

  .track,
  .track-inset,
  .track-overlay {
    stroke-linecap: round;
  }

  .track {
    stroke: #000;
    stroke-opacity: 0.3;
    stroke-width: 10px;
  }

  .track-inset {
    stroke: #dcdcdc;
    stroke-width: 8px;
  }

  .track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
    cursor: crosshair;
  }

  .handle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
  }

#title-section {
    text-align: center;
}

#main-title {
    font-size: 96px;
    margin: 0rem;
}

#title-spacer {
    height: 30%;
}

#title-box {
    font-size: 28px;
}

.content {
    /* top right bottom left */
    margin: 24px 12px 12px 24px;
}

.section-spacer {
    height:5%;
}

.content p {
    font-size: 24px;
    margin: auto;
    width: 50%;
}

#map {
    margin: auto;
    width: 70%;
}

#guess button {
    background-color: #c9ccb8; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
    border-radius: 3px;
  }

#pie-chart {
    margin: auto;
    width: 70%;
}

.description {
  margin: auto;
  width: 70%;
  font-size: 20px;
}

.section-header {
  margin: auto;
  width: 70%;
  font-size: 36px;
}

#policy-graph {
  margin: auto;
  width: 70%;
}
