<html>
  <head>
    <script src="main.js" defer></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <style>
      button {
        background-color: #212527; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor:pointer;
      }
    </style>
  </head>
  <body>
    <div style="text-align: center;">
      <h4>What percentage of police officers do you think have been held accountable for their actions from 2013-present?</h4>
      <div id="grids" style="position: relative; margin: 0 auto; overflow: hidden; text-align: center;">
        <div style="margin: auto 1.5em; display: inline-block;">
          <div id="officer_grid" style="float: left; margin-right: 10px;"></div>
          <div id="soln-grid" style="float: right; margin-left: 10px;"><button type="button" onclick="showResults()" id="guess-btn">See actual number</button></div>
        </div>
      </div>
      
      <p>You guessed <b><span id='guess'>__</span></b> officers.</p>
      <div id='soln-text' style='visibility: hidden'>
        <p>From 8543 cases between 2013-present, only 1.4% of officers (117) where charged</p>
        <p>Of those only the results of 48 are known; 19 were convicted, 29 were aquitted</p>
      </div>
      <div id="officer_grid"></div>
    </div>
  </body>
</html>