<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.1.0/Chart.min.js"></script>

<div>
    <canvas id="LineWithLine" width="600" height="400"></canvas>
</div>

<script>
var data = {
    labels: [2015,2016,2017,2018,2019],
    // datasets: [{
    //     data: [12, 3, 2, 1, 8, 8, 2, 2, 3, 5, 7, 1]
    // }]
    datasets: [{ 
        data: [36.57,
                45.94,
                22.68,
                27.91,
                42.63],
        label: "Denver",
        borderColor: "#3e95cd",
        fill: false
      }, { 
        data: [70.15,
                50.05,
                19.89,
                39.66,
                26.32],
        label: "Cincinatti",
        borderColor: "#8e5ea2",
        fill: false
      }, { 
        data: [8.45,
                9.82,
                5.21,
                2.97,
                8.19],
        label: "Dallas",
        borderColor: "#3cba9f",
        fill: false
      }, { 
        data: [10.42,
                3.44,
                6.82,
                5.66,
                3.40],
        label: "San Francisco",
        borderColor: "#e8c3b9",
        fill: false
      }
    ]
};

var ctx = document.getElementById("LineWithLine").getContext("2d");

Chart.types.Line.extend({
    name: "LineWithLine",
    draw: function () {
        Chart.types.Line.prototype.draw.apply(this, arguments);

        var point = this.datasets[0].points[this.options.lineAtIndex]
        var scale = this.scale

        // draw line
        this.chart.ctx.beginPath();
        this.chart.ctx.moveTo(point.x, scale.startPoint + 24);
        this.chart.ctx.strokeStyle = '#A92D71';
        this.chart.ctx.lineTo(point.x, scale.endPoint);
        this.chart.ctx.stroke();

        // write TODAY
        this.chart.ctx.textAlign = 'center';
        this.chart.ctx.fillText("De-escalation Implemented", point.x, scale.startPoint + 12);
    }
});

new Chart(ctx).LineWithLine(data, {
    datasetFill : false,
    lineAtIndex: 1
    // options: {
    //     scales: {
    //         xAxes: [{
    //             labelString='Year'
    //         }]
    //     }
    // }
});
</script>
